/*======= Font rengini #3C373B yapan bir yeni bir universal selector yaratın*/

* {
  /* border: 1px solid red; */
}

h1 {
  font-family: "Gaegu", cursive;
  margin: 20px 0;
  /*=======  Font size'ı 60px yapın ve text'i ortalayın(center) */
  font-size: 60px;
  text-align: center;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: "Comic Neue", cursive;
  margin-bottom: 0;
  padding: 0 10px;
  /*=======  Font size'ı 30px yapın*/
  font-size: 30px;
}

/*======= Sayfadaki TÜM p tag'leri için aşağıdaki özellikleri içeren bir selector yaratın:



*/
p {
  font-size: 16px;
  font-family: roboto;
  padding: 10px;
  line-height: 1.4;
}

nav {
  font-family: "Comic Neue", cursive;
  font-weight: bold;
}

/*======= Sayfadaki TÜM imajlar için aşağıdaki özellikleri içeren bir selector yaratın:

  border-radius: 10px;

*/

img {
  border-radius: 10px;
  width: 100%;
}

.content-row {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.content-row .content-text {
}

.content-row .content-img {
  min-width: 40%;
}

.container {
  /*======= width property yaratın. Değerini 805px olarak atayın */
  margin: 0 auto;
  width: 805px;
}

.full-width {
  width: 100%;
  background-color: aliceblue;
  padding: 30px 0 30px 0;
}

.container header nav {
  display: flex;
  /* flex-direction: row;
 flex-wrap: nowrap; */
  justify-content: space-between;
}

.container header nav a {
  border: 1px solid lightgray;
  padding: 12px 20px 8px;
  display: inline-block;
  border-radius: 15px;
  text-decoration: none;
  margin-bottom: 20px;

  /*======= background property yaratın. Değerini #E79947 olarak atayınız.*/
  color: white;
  background: #e79947;
}

.container header nav a:hover {
  /*======= background property yaratın ve değeri white olsun.  Sonra, color property yaratın ve değerini yapın. */
  background: white;
  color: #e79947;
}

/*======= Hakkmızda bölümü için aşağıdaki stilleri içeren bir selector yaratın:
  margin-top: 20px;
*/

.about-section {
  margin-top: 20px;
}

.contact-section {
  border-top: 1px dashed black;
  padding: 20px 0;
}

.contact-section h2 {
  padding: 0;
  margin: 0 0 10px 0;
}

/*======= contact-section class'da address tag'i için aşağdıaki stilleri içeren bir selector yaratın:
   line-height: 2;
*/

.contact-section .address {
  line-height: 2;
}

footer {
  width: 100%;
  background: #e79947;
  border-top: 1px dashed white;
}

footer .footer-content {
  margin: 0 auto;
  /*======= width property yaratın. Değerini 805px olarak atayın */
  width: 805px;
}

footer .footer-content h3 {
  padding: 0;
  margin: 20px 0;
}

footer nav {
  display: flex;
}

footer nav a {
  margin: 10px;
  color: black;
  text-decoration: underline;
}

/*======= Footer'daki anchor tag için aşağıdaki stilleri içeren bir selector yaratın:
  margin: 10px;
  color: black;
  text-decoration: underline;
*/

footer nav a:first-child {
  margin-left: 0;
}

/*======= Footer nav'daki anchor tag için aşağıdaki stilleri içeren bir hover state yaratın:
  color: white;
*/

footer nav a:hover {
  color: white;
}

footer .footer-content .copyright {
  padding: 20px 0;
  text-align: center;
  /*======= metni ortalayacak kodu yazın */
}
